<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <main class="main-content">
        {{>header}}
        <img src="./img/pappu.jpeg" class="portrait" alt="">
        <p>This site was created by Prabhakar Maity. It uses data from mapbox.com and weatherstack.com</p>
    </main>
    {{>footer}}
</body>

</html>