<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <main class="main-content">
        {{>header}}
        <img src="./img/lion.jpeg" class="portrait" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime amet eos dolores aliquam libero
            officiis.</p>
    </main>
    {{>footer}}
</body>

</html>